OPENAI_API_KEY=OPENAI_APIKEY
PROJECT_DB_URL=PROJECT_DB_URL
CLAUDE_API_KEY=CLAUDE_APIKEY
SECRET_DB_API_KEY=SECRET_DB_APIKEY
#BACKEND_URL_PRODUCTION=https://vitabotproject-920088613.development.catalystserverless.com
BACKEND_URL_PRODUCTION=https://vitabotproject-920088613.catalystserverless.com
BACKEND_URL_DEV=http://localhost:3000
#APP_DOMAIN_PRODUCTION=https://vitabotclientapp-ycwjmrpr.onslate.com
APP_DOMAIN_PRODUCTION=https://vitabot-wlgzsbsk.onslate.com
APP_DOMAIN_DEV=http://localhost:3001