VITE_ENVIRONMENT=production
VITE_APP_DOMAIN_PRODUCTION=https://vitabotclientapp-ycwjmrpr.onslate.com
#VITE_BACKEND_URL_PRODUCTION=https://vitabotproject-920088613.development.catalystserverless.com
VITE_BACKEND_URL_PRODUCTION=https://vitabotproject-920088613.catalystserverless.com
VITE_APP_DOMAIN_PRODUCTION=https://vitabot-wlgzsbsk.onslate.com
VITE_APP_DOMAIN_DEV=http://localhost:3001
VITE_BACKEND_URL_DEV=http://localhost:3000